:root{
    --bgcolormain: rgb(28, 28, 105);
    --bgcolorsecond:#385170;
    --btnsearch: lightblue;
    --btnhistory: lightblue;
    --fontcolor:white;
}
body {
    background-image: url("https://www.correllinsurance.com/files/bigstock-rain-on-umbrella_800x500630232484.jpeg");
    background-color:rgb(221, 151, 183);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

    
}
header{
    background-color: var(--bgcolormain);
    color:var(--fontcolor);
    opacity: .5;
}
.btn-search{
    background-color:var(--btnsearch);
    color: var(--fontcolor);
    
}
.btn-history{
    background-color: var(--btnhistory);
}
#current-day{
    visibility: hidden;
}
#search-history-screen {
    visibility: hidden;
}

#five-day-display-main{
    visibility: hidden;
}